<p id="notice"><%= notice %></p>

<h1>Kurzus típusok</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="8">Név</th>
    </tr>
  </thead>

  <tbody>
    <% @course_types.each do |course_type| %>
      <tr>
        <td><%= course_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Kurzus létrehozás', new_course_type_path, class: 'btn btn-primary' %>
