<p id="notice"><%= notice %></p>

<h1>Kurzusok</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Tárgy</th>
      <th scope="col">Kód</th>
      <th scope="col">Típus</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr >
        <td><%= course.subject.name %></td>
        <td><%= course.code %></td>
        <td><%= course.type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
